# Import The libaries

In [106]:
import numpy as np
import pandas as pd

# Read DataSet

In [107]:
df = pd.DataFrame(pd.read_csv("file1.csv"))

In [108]:
df.columns, len(df.columns)

(Index(['Unnamed: 0', 'Q11_1', 'Q11_2', 'Q11_3', 'Q11_4', 'Q11_5', 'Q11_6',
        'Q11_7', 'Q11_8', 'Q11_9', 'Q11_10', 'Q11_11', 'Q11_12', 'Q11_13',
        'Q11_Dont_Know', 'Q12_1', 'Q12_2', 'Q12_3', 'Q12_4', 'Q12_5', 'Q12_6',
        'Q12_7', 'Q12_8', 'Q12_9', 'Q12_10', 'Q12_11', 'Q12_12', 'Q12_13',
        'Q12_14', 'Q12_Dont_Know', 'Q13_1', 'Q13_2', 'Q13_3', 'Q13_4', 'Q13_5',
        'Q13_6', 'Q13_7', 'Q13_8', 'Q13_9', 'Q13_10', 'Q13_11', 'Q13_12',
        'Q13_13', 'Q13_14', 'Q13_15', 'Q13_16', 'Q13_Dont_Know', 'Q14', 'Q15',
        'Q17', 'Q18_1', 'Q18_2', 'Q18_3', 'Q18_4', 'Q18_5', 'Q18_6', 'Q18_7',
        'Q18_8', 'Q18_9', 'Q18_10', 'Q18_11', 'Q18_12', 'Q18_13', 'Q18_14',
        'Q18_15', 'Q18_16', 'Q18_17', 'Q18_18', 'Q18_19', 'Q18_20', 'Q18_21',
        'Q18_22', 'Q18_23', 'Q20', 'Q21', 'Q16'],
       dtype='object'),
 76)

In [109]:
df.head(10)

,Unnamed: 0,Q11_1,Q11_2,Q11_3,Q11_4,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,...,Q18_17,Q18_18,Q18_19,Q18_20,Q18_21,Q18_22,Q18_23,Q20,Q21,Q16
0,0,0,0,0,1,1,0,0,1,0,...,5,5,5,5,5,5,5,3,3,A
1,1,1,0,0,1,0,0,1,0,0,...,4,2,4,2,2,2,2,3,3,D
2,2,1,1,0,1,0,0,1,1,0,...,4,4,?,?,4,2,4,4,1,A
3,3,0,0,0,0,0,0,0,0,0,...,?,?,?,?,?,?,?,3,3,C
4,4,1,1,0,1,0,0,1,1,0,...,?,?,1,1,?,?,?,3,3,D
5,5,0,1,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,3,3,B
6,6,1,0,0,1,1,0,1,1,0,...,5,1,5,3,5,3,3,3,1,A
7,7,1,0,1,0,1,1,1,0,0,...,3,2,5,5,5,5,5,5,1,A
8,8,1,1,0,0,0,0,1,1,0,...,2,2,2,2,2,2,3,1,2,A
9,9,1,0,0,0,0,0,0,0,0,...,4,1,4,1,4,1,1,4,4,A

In [110]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0  Q11_1  Q11_2  Q11_3  Q11_4  Q11_5  Q11_6  Q11_7  Q11_8  \
0              0      0      0      0      1      1      0      0      1
1              1      1      0      0      1      0      0      1      0
2              2      1      1      0      1      0      0      1      1
3              3      0      0      0      0      0      0      0      0
4              4      1      1      0      1      0      0      1      1
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
6103        6103      0      1      0      0      0      0      1      1
6104        6104      0      1      0      1      0      0      0      1
6105        6105      1      0      1      0      0      0      0      0
6106        6106      0      0      1      0      0      0      0      1
6107        6107      1      0      0      1      0      0      0      1

      Q11_9  ...  Q18_17  Q18_18  Q18_19  Q18_20  Q18_21  Q18_22  Q18_23  Q20  \
0         0  ...       5       5       5       5       5       5       5    3
1         0  ...       4       2       4       2       2       2       2    3
2         0  ...       4       4       ?       ?       4       2       4    4
3         0  ...       ?       ?       ?       ?       ?       ?       ?    3
4         0  ...       ?       ?       1       1       ?       ?       ?    3
...     ...  ...     ...     ...     ...     ...     ...     ...     ...  ...
6103      1  ...       2       2       3       3       2       1       1    1
6104      0  ...       ?       ?       ?       ?       ?       ?       ?    3
6105      0  ...       4       1       5       4       5       4       5    5
6106      0  ...       1       3       4       5       3       2       3    2
6107      0  ...       3       3       3       3       3       3       3    3

      Q21  Q16
0       3    A
1       3    D
2       1    A
3       3    C
4       3    D
...   ...  ...
6103    3    B
6104    3    A
6105    2    A
6106    3    A
6107    3    D

[6108 rows x 76 columns]>

## All users have to implement:
1- EDA PROCESS
  Data Cleaning
  Scaling, Encoding Falan
  Fetaure Selection
  Outlier Detection


2- 1 ML algorithm 1 DL algorithm

# Handling NULL Values

In [111]:
null_df = df.isnull().sum()

In [112]:
null_df

Unnamed: 0    0
Q11_1         0
Q11_2         0
Q11_3         0
Q11_4         0
             ..
Q18_22        0
Q18_23        0
Q20           0
Q21           0
Q16           0
Length: 76, dtype: int64

In [113]:
question_mark_cells = df.applymap(lambda x: x == "?")
question_mark_counts = question_mark_cells.sum(axis = 0)
question_mark_counts.head(35)

Unnamed: 0       0
Q11_1            0
Q11_2            0
Q11_3            0
Q11_4            0
Q11_5            0
Q11_6            0
Q11_7            0
Q11_8            0
Q11_9            0
Q11_10           0
Q11_11           0
Q11_12           0
Q11_13           0
Q11_Dont_Know    0
Q12_1            0
Q12_2            0
Q12_3            0
Q12_4            0
Q12_5            0
Q12_6            0
Q12_7            0
Q12_8            0
Q12_9            0
Q12_10           0
Q12_11           0
Q12_12           0
Q12_13           0
Q12_14           0
Q12_Dont_Know    0
Q13_1            0
Q13_2            0
Q13_3            0
Q13_4            0
Q13_5            0
dtype: int64

In [114]:
question_mark_counts.tail(40)

Q13_7               0
Q13_8               0
Q13_9               0
Q13_10              0
Q13_11              0
Q13_12              0
Q13_13              0
Q13_14              0
Q13_15              0
Q13_16              0
Q13_Dont_Know       0
Q14               422
Q15                92
Q17               742
Q18_1             559
Q18_2             889
Q18_3            1361
Q18_4             801
Q18_5            1588
Q18_6            1219
Q18_7             947
Q18_8             712
Q18_9            1055
Q18_10           1421
Q18_11            918
Q18_12           1126
Q18_13            738
Q18_14            787
Q18_15           1361
Q18_16           1460
Q18_17           1216
Q18_18           1027
Q18_19           1721
Q18_20           1098
Q18_21           1669
Q18_22           1700
Q18_23           1451
Q20                 0
Q21                 0
Q16                 0
dtype: int64

### Method For Filling '?' variabels

In [115]:
def FillingQuestionWithMode(df):
    questionMarkSet = []
    for column in question_mark_cells:
        if(isinstance(question_mark_counts[column], np.int64) and question_mark_counts[column] > 0):
            questionMarkSet.append(column)

    for column in questionMarkSet:
        mode_value = df[column].mode().iloc[0]  # Get the first mode in case of multiple modes
        if(mode_value == '?'):
            df = df.drop(column, axis = 1)
        else:
            df[column] = df[column].replace('?', mode_value)
    return df

In [116]:
questionToMode_df = df.copy()
questionToMode_df = FillingQuestionWithMode(questionToMode_df)

In [120]:
question_mark_cells = questionToMode_df.applymap(lambda x: x == "?")
question_mark_cells.sum().tail(50)

Q12_10           0
Q12_11           0
Q12_12           0
Q12_13           0
Q12_14           0
Q12_Dont_Know    0
Q13_1            0
Q13_2            0
Q13_3            0
Q13_4            0
Q13_5            0
Q13_6            0
Q13_7            0
Q13_8            0
Q13_9            0
Q13_10           0
Q13_11           0
Q13_12           0
Q13_13           0
Q13_14           0
Q13_15           0
Q13_16           0
Q13_Dont_Know    0
Q14              0
Q15              0
Q17              0
Q18_1            0
Q18_2            0
Q18_3            0
Q18_4            0
Q18_5            0
Q18_6            0
Q18_7            0
Q18_8            0
Q18_9            0
Q18_10           0
Q18_11           0
Q18_12           0
Q18_13           0
Q18_14           0
Q18_15           0
Q18_16           0
Q18_17           0
Q18_18           0
Q18_20           0
Q18_21           0
Q18_23           0
Q20              0
Q21              0
Q16              0
dtype: int64

In [121]:
question_mark_cells.sum().head(25)

Unnamed: 0       0
Q11_1            0
Q11_2            0
Q11_3            0
Q11_4            0
Q11_5            0
Q11_6            0
Q11_7            0
Q11_8            0
Q11_9            0
Q11_10           0
Q11_11           0
Q11_12           0
Q11_13           0
Q11_Dont_Know    0
Q12_1            0
Q12_2            0
Q12_3            0
Q12_4            0
Q12_5            0
Q12_6            0
Q12_7            0
Q12_8            0
Q12_9            0
Q12_10           0
dtype: int64

In [124]:
print(f"Default DF lenght = {len(df.columns)}")
print(f"Question marks filling and dropped columns which's mode equals to '?' lenght {len(questionToMode_df.columns)}")

Default DF lenght = 76
Question marks filling and dropped columns which's mode equals to '?' lenght 74